@import 'variables';

.icon{
  width: 30px;
  height: 30px;
  vertical-align: bottom;
  background-color:var(--momo-black);
  border-radius: 8px;
}
.icon *{
  stroke: var(--momo-white);
  stroke-width: 2px;
  fill: none;
}
nav{
  background-color: var(--momo-grey);
  padding:4px;
}
nav > div:nth-last-child(1){
  cursor: pointer;
  float:right;
  font-size: 120%;
  background-color: var(--momo-white);
  color: var(--momo-white);
  padding: 0 0.25em;
  border: 2px solid var(--momo-blue);
  border-radius: 3px;
}